*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}
 /* header */
.intestazione{
  height: 80px;
}

header img{
  vertical-align:middle;
  margin-left: 33px;
}

h1{
  display: inline-block;
  margin-top: 4px;
  line-height: 80px;
}

/* main */

.container{
  padding-left: 50px;
  max-width: 65%;
  height: 100%;
  background-color: red;
  margin: 20px auto;
  list-style: none;
  padding-bottom: 20px;
}

main{
  background-color: white;

}

.bottoni{
  padding-top: 17px;
  border-width: 1px;
  padding-bottom: 8px;
  border-bottom: 1px solid lightgrey ;
}

.blu{
 
  background-color: rgb(45, 152, 188);
  color: white;
  border-radius: 5px;
  padding: 4px 9px;
  border-color: rgb(45, 152, 188);
}
.white{
  background-color: rgb(255, 255, 255);
  color: rgb(125, 121, 121);
  border-radius: 5px;
  padding: 4px 9px;
  border-color: rgb(158, 158, 158);
}

.bottoni :hover{
  cursor: pointer;
}

section ul{
  list-style: none;
}
 .new-task{
  margin-top: 35px;
  margin-bottom: 29px;
 }
 .today{
  margin-top: 35px;
  margin-bottom: 29px;
 }
 .Upcoming{
  margin-top: 35px;
  margin-bottom: 29px;
 }
 .container li{
  padding: 9px;
 }
.freccia{
  height: 10px;
  display: inline-block;
  font-size: 2em;
  vertical-align: top;
}